// Content navigation
.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 3px solid $color__text-main;
  }

  .nav-previous,
  .nav-next {
    flex: 0 0 50%;
    display: flex;
    align-items: stretch;

    ::selection {
      background: none;
    }

    a {
      width: 100%;
      border: none;
      font-weight: 400;
      color: $color__text-main;
      padding: 0.5em;
      line-height: 1.2;
      background-color: white;

      &:hover {
        background-color: $color__background-pre;
        border-color: transparent;
      }
    }
    @media screen and (min-width: $query__sm) {
      a {
        padding: 1em;
      }
    }
  }

  .nav-previous {
    a::before {
      content: "\2190";
      margin-right: 2px;
    }
  }

  .nav-next {
    text-align: right;
    margin-left: auto;

    a::after {
      content: "\2192";
      margin-left: 2px;
    }
  }
}
