a {
  @extend .blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 0.15em solid cyan;
  @extend .border--aqua;
  transition: all 0.25s;

  &:focus {
    outline: 2px double $color__link;
  }

  &:hover,
  &:active {
    @extend .border--orange;
  }

  &:visited {
    @extend .bg-orange;
  }
}
