a {
  @extend .blue;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 0.15em solid cyan;
  @extend .border--aqua;
  transition: all 0.25s;

  &:focus {
    outline: 2px double $color__link;
  }

  &:hover,
  &:active {
    @extend .border--orange;
  }

  &:visited {
    @extend .bg-orange;
  }
}


/* Skip Link --------------------------------- */

.skip-link {
	left: -9999rem;
	top: 2.5rem;
	z-index: 999999999;
	text-decoration: underline;

  &:focus {
    display: block;
    left: 6px;
    top: 7px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: normal;
    padding: 15px 23px 14px;
    z-index: 100000;
    right: auto;
  }
}


